html {
	font-size: 18px;
}

body {
	line-height: 1.4;
	font-family: Helvetica;
}

.main {
	width: 960px;
}

.flex {
	display: flex;
}

.row {
	flex-direction: row;
}

.column {
	flex-direction: column;
}

.navigation {
	color: white;
}

.headline, footer {
    width: 1032px;
}

/* Header */

header {
	height: 30rem;
	background-image: url(../imgs/glasses-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	align-items: center;
	
}

.navigation {
	background-color: cadetblue;
	margin: 1rem 0 10rem 0;
	justify-content: space-between;
	align-items: center;
}

.smallscreen {
  display: none;
}

.logo img {
	padding-left: 2rem;
	height: 1.5rem;
	width: auto;
}

.company {
	padding: 1rem;
	margin-right: auto;
}

nav span {
	padding: 1rem 2rem;
}

.headline {
	justify-content: flex-end;
}

.headline h1 {
	background-color: white;
	padding: 1.5rem 5rem;
	font-weight: bold;
	font-size: 2rem;
	line-height: 1.2;
}

/* Main Content */

.maincontent {
	justify-content: center;
	flex-wrap: wrap;
}

/* Features */

.features {
	justify-content: center;
  align-items: center;
	align-self: center;
}

.feature {
	height: 8rem;
	margin: 3rem 3rem;
  width: 5rem;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.feature.portrait img {
	width: 3.5rem;
	height: auto;
}

.feature.landscape img {
	width: 5rem;
	height: auto;
}

/* Infos and Appointments */

.infos {
	align-self: center;
	justify-content: center;
  margin-bottom: 5rem;
}

.info {
	width: 35%;
}

.info.phil {
	margin-right: 5%;
}

.info h2 {
	background-color: cadetblue;
	color: white;
	font-weight: bold;
	padding: 0.5rem 0 0.5rem 1.25rem;
	width: 10rem;
	margin-bottom: 1rem;
}

/* Footer */

footer { 
  background-color: azure;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}

footer img {
  height: 1.5rem;
  margin: 4rem 1rem 4rem 4rem;
}

/* Media Queries */

@media only screen and (max-width: 996px), (max-width: 738px) {

  .main, .headline, footer {
    width: 100%;
  }

  .maincontent {
    margin: 0;
  }

}

/* Media Query for middle-screens */

@media only screen and (max-width: 996px) {

  header {
    height: 22rem;
  }

  .navigation {
    margin: 0 0 5rem 0;
  }

  .headline h1 {
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
    margin-right: 2rem;
  }
}

/* Media Query for small screens */

@media only screen and (max-width: 738px) {

  .smallscreen {
    display: inline-block;
  }
  
  .navigation .smallscreen {
    margin-right: 2rem;
  }

  nav, .company {
    display: none;
  }

  header {
    height: 17rem;
    background-position: 20%;
  }

  .navigation {
    margin: 0 0 9rem 0;
  }

  .smallscreen {
  padding: 1rem;
  margin-left: auto;
}

  .headline h1 {
    padding: 1rem;
    font-size: 1rem;
    width: 100%;
    margin: 0;
    text-align: center;
  }

  .feature div,
  .info p {
    font-size: 0.77rem;
  }

  .features {
    flex-direction: column;
    margin: 3.77rem 0;
  }

  .feature {
    height: auto;
    margin: 1.54rem;
    justify-content: center;
  }

  .feature div {
    padding-top: 1.2rem;
  }

  .infos {
    flex-direction: column;
    width: 100%;
  }

  .info {
    width: 100%;
    margin-bottom: 4rem;
  }

  .info h2 {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .info p {
    padding: 1rem 0.5rem 0 0.5rem;
  }

  footer {
    justify-content: center;
  }

  footer span {
    display: none;
  }

  footer img {
    margin: 4rem 0;
  }
}





