html {
	font-size: 18px;
}

body {
	line-height: 1.4;
	font-family: Helvetica;
}

.main {
	width: 960px;
}

.flex {
	display: flex;
}

.row {
	flex-direction: row;
}

.column {
	flex-direction: column;
}

.navigation {
	color: white;
}

.headline, footer {
    width: 1032px;
}

/* Header */

header {
	height: 30rem;
	background-image: url(../imgs/glasses-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	align-items: center;
	
}

.navigation {
	background-color: cadetblue;
	margin: 1rem 0 10rem 0;
	justify-content: space-between;
	align-items: center;
}

.logo img {
	padding-left: 2rem;
	height: 1.5rem;
	width: auto;
}

.company {
	padding: 1rem;
	margin-right: auto;
}

nav span {
	padding: 1rem 2rem;
}

.headline {
	justify-content: flex-end;
}

.headline h1 {
	background-color: white;
	padding: 1.5rem 5rem;
	font-weight: bold;
	font-size: 2rem;
	line-height: 1.2;
}

/* Main Content */

.maincontent {
	justify-content: center;
	flex-wrap: wrap;
  margin-bottom: 5rem;
}

/* Features */

.features {
	justify-content: center;
	align-self: center;
}

.feature {
	height: 8rem;
	margin: 3rem 3rem;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.feature.portrait img {
	width: 3.5rem;
	height: auto;
}

.feature.landscape img {
	width: 5rem;
	height: auto;
}

/* Infos and Appointments */

.infos {
	align-self: center;
	justify-content: center;
}

.info {
	width: 35%;
}

.info.phil {
	margin-right: 5%;
}

.info h2 {
	background-color: cadetblue;
	color: white;
	font-weight: bold;
	padding: 0.5rem 0 0.5rem 1.25rem;
	width: 10rem;
	margin-bottom: 1rem;
}

/* Footer */

footer { 
  background-color: azure;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
}

footer img {
  height: 1.5rem;
  margin: 4rem 1rem 4rem 4rem;
}

/* Media Query for middle-screens */

@media only screen and (max-width: 996px) {

  .main,
  .headline,
  footer {
    width: 100%;
  }

  header {
  height: 22rem;
  }

  .navigation {
    margin: 0 0 5rem 0;
  }

  .headline h1 {
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
    margin-right: 2rem;
  }

}







